@model System.Collections.Generic.IEnumerable<Models.Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Comments</title>
</head>
<body>
<div class="container row">
    <div class="row">
        <form asp-controller="Comment" asp-action="Search">
            <input type="text" placeholder="Buscar por body o nombre" class="form-text">
            <input type="submit" value="Buscar..." class="btn btn-success">
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.email)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.body)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model => data.name)
                </td>
                <td>
                    @Html.DisplayFor(Model => data.email)
                </td>
                <td>
                    @Html.DisplayFor(Model => data.body)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>